.shop-aside-left-top {
    width: 220px;
    background-color: #e1e1e1;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 120px;
    margin-left: 25px;
    font-size: 14px;

    .shop-aside-left-top__shop-link {
        margin: 8%;
        cursor: pointer;
        color: #a39161;
    }
    .shop-aside-left-top__shop-link a {
        text-decoration: none;
        color: #a39161;
    }
}
