<!-- <footer class="footer">
    <div class="footer__venstre">
      <div class="venstre-tekst">
        <p class="venstre-tekst__p">HI-FI Corner</p>
        <p class="venstre-tekst__p">Edinburgh 2 joppa Road EH 15 2EU</p>
        <p class="venstre-tekst__p">Falkirk 44 Cow Wynd FK1 1PU</p>
      </div>
      <div class="venstre-links">
        <a class="venstre-links__refund" href="#">Return & Refunds</a>
        <a class="venstre-links__refund" href="#">| Privacy Policy</a>
      </div>
    </div>
    <div class="footer__hojre">
      <img class="hojre-betaling" src="/assets/img/footer/betalings-muligheder.png" alt="">
      <div class="circle">
        <i class="fab fa-facebook-f circle__social-link"></i>
      </div>
      <div class="circle">
        <i class="fab fa-youtube circle__social-link"></i>
      </div>
      <div class="circle">
        <i class="fab fa-twitter circle__social-link"></i>
      </div>
      <div class="circle">
        <i class="fab fa-instagram circle__social-link"></i>
      </div>
    </div>
  </footer> -->

<footer class="footer-grid">

  <div class="location">
    <p class="location__text">HI-FI Corner</p>
    <p class="location__text">Edinburgh 2 joppa Road EH 15 2EU</p>
    <p class="location__text">Falkirk 44 Cow Wynd FK1 1PU</p>
  </div>

  <div class="policy">
    <a class="policy__links" href="#">Return & Refunds</a>
    <a class="policy__links" href="#">Privacy Policy</a>
  </div>

  <div class="payment">
    <img class="payment__img" src="/assets/img/footer/betalings-muligheder.png" alt="">
  </div>

  <div class="social">

    <span class="fa-stack">
    <i class="fab fa-stack-1x fa-facebook-f social__icon"></i>
    <i class="far fa-stack-2x fa-circle social__circle"></i>
    </span>

    <span class="fa-stack">
      <i class="fab fa-stack-1x fa-youtube social__icon"></i>
      <i class="far fa-stack-2x fa-circle social__circle"></i>
    </span>

    <span class="fa-stack">
      <i class="fab fa-stack-1x fa-twitter social__icon"></i>
      <i class="far fa-stack-2x fa-circle social__circle"></i>
    </span>

    <span class="fa-stack">
      <i class="fab fa-stack-1x fa-instagram social__icon"></i>
      <i class="far fa-stack-2x fa-circle social__circle"></i>
    </span>

  </div>

</footer>