<nav class="navigation">
    <ul class="navigation__linkbox">
      <li class="link"> <a class="link__a link__a_active" href="/">HOME</a> </li>
      <li class="link"> <a class="link__a" href="#">ABOUT US</a> </li>
      <li class="link"> <a class="link__a" href="/brands">BRANDS</a> </li>
      <li class="link"> <a class="link__a" href="#">BLOG</a> </li>
      <li class="link"> <a class="link__a" href="#">EVENTS</a> </li>
      <li class="link"> <a class="link__a" href="/shop">SHOP</a> </li>
      <li class="link"> <a class="link__a" href="#">CONTACT US</a> </li>
    </ul>
  </nav>