
.navigation {
    background-color: #000000;
    width: 100%;
    padding: 25px 30%;
}

.footer-grid {
    display: grid;
    max-height: 74px;
    grid-template-rows: auto;
    grid-template-columns: 0.4fr 0.4fr 2fr 0.4fr;
    grid-template-areas: "location policy payment social";
    background: #a39161;
    padding: 0.5em;
}



