.hero {
    width: 100%;
    display: grid;
}

.brands_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.double_article_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px;
    border: 20px solid white;
    margin: 0 10%;
}

.wrapper_kategori {
    display: grid;
    grid-template-columns: 250px 855px 250px;
    background-color: white;
    justify-content: center;
}

.shop_aside_left_top {
    width: 220px;
    background-color: #e1e1e1;
    grid-column: 1/2;
    grid-row: 1/3;
    margin-top: 120px;
    margin-left: 25px;
    font-size: 14px;
}

.shop_aside_left_bottom {
    width: 220px;
    background-color: #e1e1e1;
    grid-column: 1/2;
    grid-row: 3/4;
    margin-left: 25px;
    margin-top: 15px;
    padding-bottom: 8px;
}

/*/ GRID TIL SHOP-PRODUKT SIDEN /*/
.shop-produkt {
    display: grid;
    // width: 100%;
    height: calc(100% - 175px - 30px - 1.5em - 0.8em - 2em);
    /* grid-template-rows:  repeat(5, auto); */
    grid-template-rows: auto auto auto auto auto;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 0.8fr 0.9fr;
    grid-template-areas:
        "billede info"
        "billede farver"
        "billede betaling"
        "thumbnail additional"
        "specifikation .";
    padding-left: 1.5em;
    padding-right: 1.5em;
}

